@import url("./fonts.css");

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-container{
    inset: 0;
    overflow: auto;
    width: 100vw;
}

.leaflet-container {
    width: 100vw !important;
    height: 700px !important;
}

.header-dev{
    height: 60px;
    font-size: var(--font-size);
}

.legend {
    display: flex;
    flex-direction: column;
    gap:10px;
    line-height: 18px;
    color: #ffffff;
    background-color: black;
    padding: 20px;
}

.legend i {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    float: left;
    margin-right: 8px;
    /* opacity: 0.7; */
}

.legend-item{
    display: flex;
    
}