@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

body {
    font-family:monospace;
    background: black;
    color: white;
    padding-left:3em ;
    padding-right:3em ;
    margin: 0;
}

a {
    color: #666666;
};

.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}






 